<div class="course-card">
    <div class="course-card__categories">
        {% if course.categories %}
            {% for category in course.categories %}
                <div class="course-card__category">
                    <a href="/courses/categories/{{ category.slug }}{{ query_string }}">{{ category.title }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <h2 class="course-card__title">
        <a href="/courses/{{ course.slug }}{{ query_string }}">{{ course.title }}</a>
        {% if current_api['id'] == 'cpa' and (course.draft or course.pendingChanges) %}
            {% call editorial_features(course) %}{% endcall %}
        {% endif %}
    </h2>

    <p class="course-card__description">{{ course.short_description }}</p>

    <div class="course-card__link-wrapper">
        <a href="/courses/{{ course.slug }}{{ query_string }}" class="course-card__link">{{ 'viewCourseLabel'|trans }}</a>
    </div>
</div>
