<div class="course-card">
    <div class="course-card__categories">
        {% if 'categories' in course.fields() %}
            {% for category in course.categories %}
                <div class="course-card__category">
                    <a class="course-card__category-link" href="/courses/categories/{{ category.slug }}{{ query_string }}">{{ category.title }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <h2 class="course-card__title">
        <a href="/courses/{{ course.slug }}{{ query_string }}">{{ course.title }}</a>
        {% if should_show_entry_state(course, current_api['id']) %}
            {{ entry_state(course) }}
        {% endif %}
    </h2>

    <p class="course-card__description">{{ course.short_description }}</p>

    <div class="course-card__link-wrapper">
        <a href="/courses/{{ course.slug }}{{ query_string }}" class="course-card__link">{{ 'viewCourseLabel'|trans }}</a>
    </div>
</div>
