<div class="lesson">
    <h1 class="lesson__title">{{ lesson.title }}</h1>

    {{ render_editorial_features(lesson) }}

    <div class="lesson__modules">
        {% for module in lesson.modules %}
            {% if module.sys.get('content_type', None) %}
                {% if module.content_type.id == 'lessonCodeSnippets' %}
                    {% include 'partials/lessonModuleCodeSnippets.html' %}
                {% elif module.content_type.id == 'lessonCopy' %}
                    {% include 'partials/lessonModuleCopy.html' %}
                {% elif module.content_type.id == 'lessonImage' %}
                    {% include 'partials/lessonModuleImage.html' %}
                {% else %}
                    <h2>{{ 'lessonModuleErrorTitle'|trans }}</h2>
                    <p>
                        <span>{{ 'lessonModuleErrorBody'|trans }}</span>
                        <strong>{{ module.id }}</strong>
                    </p>
                {% endif %}
            {% else %}
                <h2>{{ 'lessonModuleErrorTitle'|trans }}</h2>
                <p>
                    <span>{{ 'lessonModuleErrorBody'|trans }}</span>
                    <strong>{{ module.id }}</strong>
                </p>
            {% endif %}
        {% endfor %}
    </div>

    {% if next_lesson %}
        <a href="/courses/{{ course.slug }}/lessons/{{ next_lesson.slug }}{{ query_string }}" class="lesson__cta cta">{{ 'nextLessonLabel'|trans }}</a>
    {% endif %}
</div>
