{% extends "layout.html" %}

{% block content %}
    {% if landing_page.slug != 'home' %}
        <div class="layout-centered">
            {% include 'partials/breadcrumb.html' %}
        </div>
    {% endif %}

    <div class="layout-centered">
        {{ render_editorial_features(landing_page) }}
    </div>

    <div class="modules-container">
        {% for module in landing_page.content_modules %}
            {% if module.content_type.id == 'layoutCopy' %}
                {% include 'partials/moduleCopy.html' %}
            {% elif module.content_type.id == 'layoutHeroImage' %}
                {% include 'partials/moduleHeroImage.html' %}
            {% elif module.content_type.id == 'layoutHighlightedCourse' %}
                {% include 'partials/moduleHighlightedCourse.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
