{% extends "layout.html" %}

{% macro render_errors(errors) -%}
    {% for message in errors %}
        <div class='form-item__error-wrapper'>
            <svg class='form-item__error-icon'>
                <use xlink:href='{{ url_for('static', filename='/icons/icons.svg') }}#error'></use>
            </svg>
            <div class='form-item__error-message'>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{%- endmacro %}

{% block content %}
<div class='layout-centered-small'>
    {% include 'partials/breadcrumb.html' %}
    <h1>{{ title }}</h1>
    <p>{{ 'settingsIntroLabel'|trans }}</p>

    {% if success %}
        <div class='status-block status-block--success'>
            <svg class='status-block__icon status-block__icon--success'>
                <use xlink:href='{{ url_for('static', filename='/icons/icons.svg') }}#success'></use>
            </svg>
            <div class='status-block__content'>
                <div class='status-block__title'>
                    {{ 'changesSavedLabel'|trans }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if has_errors %}
        <div class='status-block status-block--error'>
            <svg class='status-block__icon status-block__icon--error'>
                <use xlink:href='{{ url_for('static', filename='/icons/icons.svg') }}#error'></use>
            </svg>

            <div class='status-block__content'>
                <div class='status-block__title'>
                    {{ 'errorOcurredTitleLabel'|trans }}
                </div>
                <div class='status-block__message'>
                    {{ 'errorOcurredMessageLabel'|trans }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if space and not has_errors %}
        <div class='status-block status-block--info'>
            <svg class='status-block__icon status-block__icon--info'>
                <use xlink:href='{{ url_for('static', filename='/icons/icons.svg') }}#info'></use>
            </svg>

            {% if not is_using_custom_credentials %}
                <div class="status-block__content">
                    <div class="status-block__message">
                        <p>
                            <em>{{ "usingServerCredentialsLabel"|trans }}</em>
                        </p>
                        <p>
                            <strong>{{ "connectedToSpaceLabel"|trans }}:</strong><br />
                            {{ space.name }} ({{ space_id }})
                        </p>
                        <p>
                            <strong>{{ "credentialSourceLabel"|trans }}:</strong><br />
                            {{ "loadedFromLocalFileLabel"|trans }} <a href="https://github.com/contentful/the-example-app.py/blob/master/.env" target="_blank" rel="noopener">.env</a>
                        </p>
                        <p>
                            <em>{{ "overrideConfigLabel"|trans }}</em>
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="status-block__content">
                    <div class="status-block__message">
                        <p>
                            <em>{{ "usingSessionCredentialsLabel"|trans }}</em>
                        </p>
                        <p>
                            <strong>{{ "connectedToSpaceLabel"|trans }}:</strong><br />
                            {{ space.name }} ({{ space_id }})
                        </p>

                        <form method="post" action="/settings/reset{{ query_string }}">
                            <p>
                                <strong>{{ "applicationCredentialsLabel"|trans }}:</strong><br />
                                <button type="submit">{{ "resetCredentialsLabel"|trans }}</button><br />
                                <a class="status-block__sharelink" href="{{ host }}{{ "{0}&".format(query_string) if query_string else '?' }}space_id={{ space_id }}&preview_token={{ preview_token }}&delivery_token={{ delivery_token }}{{ '&enable_editorial_features' if editorial_features else '' }}">{{ "copyLinkLabel"|trans }}</a>
                            </p>
                        </form>
                        <p>
                            <em>{{ "overrideConfigLabel"|trans }}</em>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <form action="/settings{{ query_string }}" method="POST" class="form">
        <div class='form-item'>
            <label for="input-space-id">{{ 'spaceIdLabel'|trans }}</label>
            <input type="text" name="spaceId" id="input-space-id" value='{{ space_id }}' required="required" />

            {% if 'spaceId' in errors %}
            {{ render_errors(errors['spaceId']) }}
            {% endif %}

            <div class='form-item__help-text'>
                {{ 'spaceIdHelpText'|trans }}
            </div>
        </div>

        <div class='form-item'>
            <label for="input-delivery-token">{{ 'cdaAccessTokenLabel'|trans }}</label>
            <input type="text" name="deliveryToken" id="input-delivery-token" value='{{ delivery_token }}' required="required" />

            {% if 'deliveryToken' in errors %}
            {{ render_errors(errors['deliveryToken']) }}
            {% endif %}

            <div class='form-item__help-text'>
                {{ 'contentDeliveryApiHelpText'|trans }}&nbsp;
                <a href='https://www.contentful.com/developers/docs/references/content-delivery-api/' target='_blank' rel='noopener'>Content Delivery API.</a>
            </div>
        </div>

        <div class='form-item'>
            <label for="input-preview-token">{{ 'cpaAccessTokenLabel'|trans }}</label>
            <input type="text" name="previewToken" id="input-preview-token" value='{{ preview_token }}' required="required" />

            {% if 'previewToken' in errors %}
            {{ render_errors(errors['previewToken']) }}
            {% endif %}

            <div class='form-item__help-text'>
                {{ 'contentPreviewApiHelpText'|trans }}&nbsp;
                <a href='https://www.contentful.com/developers/docs/references/content-preview-api/' target='_blank' rel='noopener'>Content Preview API.</a>
            </div>
        </div>

        <div class='form-item'>
            <input type="checkbox" name="editorialFeatures" id="input-editorial-features" {{ 'checked' if editorial_features else '' }} />
            <label for="input-editorial-features">{{ 'enableEditorialFeaturesLabel'|trans }}</label>
            <div class='form-item__help-text'>
                {{ 'enableEditorialFeaturesHelpText'|trans }}
            </div>
        </div>

        <div class='form-item'>
            <input class='cta' type="submit" value='{{ 'saveSettingsButtonLabel'|trans }}' />
        </div>
    </form>
</div>
{% endblock %}
